## Factorial  [DONE ]

## program to print all prime numbers in an interval (already there some below but not running)

### program to sort the values of 1st list using 2nd list (already there some below but not running)

## palindrome pyramid to center

### diamond and hollow diamond

In [73]:
#************ 
#ceil --floor --round --abs functions

import math
x = - 22.345
y = 22.345

print(math.ceil(x))    #Round off to next number (OR) smallest integer greater than or equal to x
print(math.floor(x))   #non-decimal part of the number (OR) largest integer less than or equal to x
print(round(x,2))      #Rounded off to 2 decimal places
print(abs(x))          #absolute value

print("\n")

print(math.ceil(y))
print(math.floor(y))   
print(round(y,2))      
print(abs(y))         

print("\n")

print(math.ceil(22))
print(math.floor(22)) 

#NOTE: // stands for floor division (gives non-numerical part of quotient)
#Ex: print(7.8//2) => 3.0 ; print(6.2//2) => 3.0

# There's no ceil division, but you can apply upside-down floor division, like
#def ceildiv(a, b):
#    return -(a // -b)

-22
-23
-22.34
22.345


23
22
22.34
22.345


22
22

In [23]:
#************
#Formatting1    (WRITE MORE EXAMPLES ON THIS)

y= 0.5
z = 33

x1 = format(y,"%")
x2 = format(z,"") 

print(x1)
print(x2)
print(type(x2))

50.000000%
33
<class 'str'>

In [18]:
#************
#Formatting2    (WRITE MORE EXAMPLES ON THIS)

#1
print("{p}".format(p=y))

#2
# print(j,end=" ")

#3
x = "Hola, how are you?"
y = "how you doin?"
print(x,y, sep = "---")

#4
#In functions,how to write  print(j,end=" ")
#          print(j,end=" ")
#     return ""

#5
# x = " ".join(str(lista)) #THIS IS WRONG METHOD   # When you want [2,1,1] to be printed as 2 1 1. Instead of using 
# a for loop and print(x,end = " "), which will increase the time complexity, you can use this strings method

# print(" ".join(list(map(str,lst)))) #THIS IS CORRECT METHOD  #Using map function

#6

how you doin?
Hola, how are you?---how you doin?

#************
Time complexity Tricks:
1. x = " ".join(str(lista)) #WRONG   # When you want [2,1,1] to be printed as 2 1 1. Instead of using a for loop and 
print(x,end = " "), which will increase the time complexity, you can use this strings method

print(" ".join(list(map(str,lst))))

2. for loop instead of while loop. Even after using for loop, you get run time error, then use dictionaries.

3. instead of for loops multiple times, you can use dictionary to reduce the time complexity. Dictionary also takes care of the duplicates, like sets.

In [92]:
#************
# program to write factorial of a number

#Method -1      #This gives fact(0)=1,fact(1)=1 also

def fact(n):
    i=1
    mult=1
    while(i<=n):
        mult = mult *i
        i=i+1
    return mult

print(fact(5))

#Method -2      #Even This gives fact(0)=1,fact(1)=1 also

def factori(n):
    facto = 1
    for i in range(1,n):
        facto = n * fact(n-1)
    return facto

print(factori(5))

120
120

In [2]:
#************
pow(5,0)

1

In [15]:
#************
# program to return power of a number (though it is already pre-defined as pow(a,b); I just wanted to try myself)
def power(a,b):
    c = a**b
    return c

power(2,3)

8

In [5]:
# program to find length (no. of digits: n) in a integer number

def length(m):
    n=1
    while(m>0):
        if(int(m/pow(10,n))==0):
            return n
        else:
            n=n+1

length(243890)

#method -2 (Easiest)

v = 243890
print(len(str(v)))

6

In [7]:
# program to print all digits in a number
def digits(m):
    for i in str(m):
        a =[int(i) for i in str(m)]
        return a
        
    
print(digits(3234237))

#method -2 (Easiest)
v = 3234237
for i in str(v):
    print (i,end = " ")

[3, 2, 3, 4, 2, 3, 7]
3 2 3 4 2 3 7

In [12]:
# Program to write the expanded form of a number

def expand(m):
    for i in str(m):
        a =[int(i) for i in str(m)]
    j=0
    total=""
    while (j<len(a)):
        c = a[j]
        total =("{t} + {x} * {y}".format(t=total,x=c,y=pow(10,len(a)-j-1)))
        j=j+1
    return total
   
expand(274)

' + 2 * 100 + 7 * 10 + 4 * 1'

In [16]:
#************
#method 2 for expanded form
def expand(v):
    l = len(str(v))
    v = str(v)
    lista = []
    for i in range(l):
        
        a =  ('{x} * {y}').format(x = v[i] ,y = pow(10,(l-i-1)))
        lista.append(a)
    x = " + ".join(lista)
    print(x)
    
expand(274)

2 * 100 + 7 * 10 + 4 * 1

In [17]:
#************
# Finding whether a number is Armstrong number or not : abcd... = pow(a,n)+pow(b,n)+....  Ex.: 153 = 1*1*1 +5*5*5 +3*3*3 
def isA(n):
    l = len(str(n))
    x= 0
    for i in str(n):
        x = x + pow(int(i),l)
    if(x==n):
        return "is Armstrong"
    else:
        return "No"

print(isA(153))
print(isA(144))
print(isA(1634))

is Armstrong
No
is Armstrong

In [18]:
#************
# Importing pi value from math and finding area of a circle

from math import pi
def area(r):
    r =int(r)
    area =pi*(r**2)
    return area

R =input("Enter the radius of the circle: ")
area(R)

Enter the radius of the circle: 3

28.274333882308138

In [19]:
#program to find if a no. is prime or not

def isPrime(a): 
    i=2 
    while(i<a): 
        if(a%i !=0): 
            i=i+1
            z="prime"
        else: 
            z="not prime"
            break
    print(z)

isPrime(19)
isPrime(99)

prime
not prime

In [ ]:
#************
#Method 2 (prime or not)

def isP(n):
    for i in range(2,n):
        if(n%i != 0):
            z = "yes"    
        else:
            z = "no"
            break
    return z
        
print(isP(55))
print(isP(3))

In [20]:
#************
#program to print all prime numbers in an interval

def isP(n):
    for i in range(2,n):
        if(n%i != 0):
            z = "yes"    
        else:
            z = "no"
            break
    return z

def allP(a,b):
    for j in range(a+1,b):
        if(isP(j) =="yes"):
            print(j,end=" ")
        else:
            continue
            
allP(11,25)

13 17 19 23

In [21]:
#************
#program for nth fibonacci number [Fn =Fn-1 +Fn-2 ; Fo=0,F1=1]

def fib(n):
    a =0
    b =1
    tot = 0
    for i in range(1,n):
        tot = a+b
        a = b
        b = tot
        
    return tot

fib(10)

55

In [25]:
#************
#print fibonacci series till nth fibonacci number [Fn =Fn-1 +Fn-2 ; Fo=0,F1=1]

def fibonacci(n):
    a =0
    b =1
    tot = 0
    for i in range(1,n):
        tot = a+b
        a = b
        b = tot
        print(b, end =" ")

fibonacci(10)
        
fibonacci(12)

1 2 3 5 8 13 21 34 55 1 2 3 5 8 13 21 34 55 89 144

In [27]:
# Program to check if a number is fibonacci number or not
def isfibonacci(n):
    a =0
    b =1
    tot = 0
    list1=[]
    for i in range(1,n):
        tot = a+b
        a = b
        b = tot
        list1.append(b)
    if(n in list1):
        print("Is a fibonacci number")
    else:
        print("is not")

isfibonacci(144)
isfibonacci(8)
isfibonacci(41)

Is a fibonacci number
Is a fibonacci number
is not

In [44]:
#************ (see method 2 also)
# Program to check if a number is Perfect Square or not
def isPS(n):
    n=int(n)
    r=int(pow(n,0.5))
    x = r*r
    if(x ==n):
        print("Is perfect square")
    else:
        print("is not a ps")
        
isPS(144)
isPS(155)

Is perfect square
is not a ps

In [43]:
#method 2 (is perfect square or not)
def isPS(n):
    n=int(n)
    r=pow(n,0.5)
    print(r)
    list1=[]
    for i in range(round(r+1)):  # will print all numbers from 0 to int(r)
        list1.append(i)
    print(list1)
    if(r in list1):
        print("Is perfect square")
    else:
        print("is not a ps")
        
isPS(144)
isPS(155)

12.0
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Is perfect square
12.449899597988733
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
is not a ps

In [45]:
#program for sum of first n natural numbers
def sumN(n):
    total =0
    i=1
    while(i<=n):
        total=total+i
        i=i+1
    return total

sumN(10)

55

In [50]:
#************
#program for sum of squares of first n natural numbers
def sumS(n):
    tot = 0
    for i in range (1,n+1):
        tot = tot + i*i
    print(tot)
    

sumS(3)
sumS(10)

14
385

In [47]:
#program for sum of cubes of first n natural numbers
def sumCN(n):
    total =0
    i=1
    while(i<=n):
        total=total+(i*i*i)
        i=i+1
    return total

sumCN(10)

3025

In [65]:
#************
# program to print ASCII value of a character in a string
#in python, we use ord(character) function to get the ascii value of a character and chr(ascii value) to get the character

print(chr(97))
print(ord("a"))

print("\n")

print(ord("A"))

print("\n")

word=str(input("Enter a word/string: "))

for char in word:
    ascii = ord(char)
    print(char,"\t", ascii)

a
97


65


Enter a word/string: happy
h 	 104
a 	 97
p 	 112
p 	 112
y 	 121

In [74]:
# Range Function:
for i in range(7):     #gives output from 0 to 6
    print(i,end=" ")                                     #output 1

print("\n")

for i in range(3,7):   #gives output from 3 to 6
    print(i,end=" ")                                     #output 2

print("\n")

for i in range(0,7,3):        #Range and step function (also called as slicing)   [Here you cannot give (7,3) instead give(0,7,3)]
    print(i,end=" ")         #Gives spacing of 3 elements between elements      #output 3

print("\n")   

for i in range(1,7,2):      #Range and step function  (also called as slicing)
    print(i,end=" ")                                     #output 4

print("\n")

for i in range(3):          #Range and loop
    print("I'm happy!",end=" @ ")  #ie, loop is executed for 3 times         #output 5

print("\n")   

for i in range(4,15+1):       #print even numbers in a range(4,15)     #Here we have to take 15+1=16,otherwise as per range function,it doesn't include 15
    if(i%2==0):
        print(i,end=" ")                                #output 6

print("\n")       

for i in range(4,15+1):       #print odd numbers in a range(4,15)     #Here we have to take 15+1=16,otherwise as per range function,it doesn't include 15
    if(i%2==0):
        continue
    else:
        print(i,end=" ")                                #output 7

print("\n")

for i in range(-4,5+1):       #print negative numbers in a range(-4,5)     #Here we have to take 15+1=16,otherwise as per range function,it doesn't include 15
    if(i<0):
        print(i,end=" ")                                #output 8

print("\n")

for i in range(-4,5+1):       #print positive numbers in a range(-4,5)     #Here we have to take 15+1=16,otherwise as per range function,it doesn't include 15
    if(i>0):
        print(i,end=" ")                                #output 9

    

#NOTE:  Slicing also possible in arrays(to be precise) in lists and strings as well

0 1 2 3 4 5 6

3 4 5 6

0 3 6

1 3 5

I'm happy! @ I'm happy! @ I'm happy! @

4 6 8 10 12 14

5 7 9 11 13 15

-4 -3 -2 -1

1 2 3 4 5

In [86]:
#************
# Program to access the no.s in reverse order
def rev(n):
    for i in range(n,0,-1):     # not (0,n,-1)
        print(i,end=" ")
rev(8)

#NOTE:  "IMP for pattern problems

8 7 6 5 4 3 2 1

In [93]:
#************
#Write a program to find the binary coefficient (nCr)

def fact(n):
    i=1
    mult=1
    while(i<=n):
        mult = mult *i
        i=i+1
    return mult

def bicoeff(n,r):     #n,r are non negative integers
    if(r>n):
        print("Invalid input")
    else:
        coeff = fact(n)/ ((fact(n-r))*(fact(r)))
        print(coeff)
bicoeff(5,2)
bicoeff(3,5)

10.0
Invalid input

In [94]:
#************
# check for pythagorean triplets

def isPyt(x,y,z):
    lista=[x,y,z]
    lista.sort()
    a=lista[0]
    b=lista[1]
    c=lista[2]
    
    m=pow(c,2)
    n=pow(b,2)+pow(a,2)
    if(m==n):
        print("They are pythagorean triplets")
    else:
        print("not")

isPyt(3,5,4)
isPyt(3,4,1)
isPyt(25,7,24)

They are pythagorean triplets
not
They are pythagorean triplets

In [29]:
#************

#Using map function #WRITE more examples on this

lista = ['apple','banana','watermelon']

def func(x):
    return len(x)


print(func(lista))

#print(map(func,lista))     # WRONG WAY TO APPLY THE MAP FUNCTION
y = list(map(func,lista))
print(y)


#NOTE: built-in map and list comprehension(i.e, using lambda) are much more faster than pandas methods (i.e, apply).

3
[5, 6, 10]

### Conversions and related problems

In [2]:
#************
# Conversions
#1. Binary to decimal   #binary=>{0,1}  ; decimal=>{0,1,2,3,4,5,6,7,8,9}
def btod(n):

    j=0
    lista=[]
    for i in str(n):
        a =[int(i) for i in str(n)]
        m=len(a)
    while(j<m):
        x = a[j]*pow(2,(m-j-1))
        lista.append(x)
        j=j+1
    summa=sum(lista)
    print(summa)
    
btod(10101)

#2 octal to decimal  #octal=>{0,1,2,3,4,5,6,7}
def otod(n):
    j=0
    lista=[]
    for i in str(n):
        a =[int(i) for i in str(n)]
        m=len(a)
    while(j<m):
        x = a[j]*pow(8,(m-j-1))
        lista.append(x)
        j=j+1
    summa=sum(lista)
    print(summa)
    
otod(137)
    
#3 hexadecimal to decimal   #hexadecimal=>{0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F}
def htod(n):
    j=0
    lista=[]
    
    for i in str(n):
        a =[int(i) for i in str(n)]
        m=len(a)
    while(j<m):
        x = a[j]*pow(8,(m-j-1))
        lista.append(x)
        j=j+1
    summa=sum(lista)
    print(summa)
    
#htod(1CF)

#4. Decimal to binary
def dtob(n):
        i=0
        r=0
        d=10
        while(n>0):
            m=int(n/2)
            r=n%2
            print(r,end="")
            n=m
dtob(21)
        

#5 decimal to octal
#6 decimal to hexadecimal

21
95
10101

In [72]:
#************
#Uisng inbuilt functions

x  = bin(21).replace("0b","")    # dtob
print(x)
 
y = hex(225)                     #dtoh
print(y)

z = oct(12)                      #dtoo
print(z)

def decimalToBinary(n):          #dtob
 
    if(n > 1):
        # divide with integral result
        # (discard remainder)
        decimalToBinary(n//2)
    print(n%2, end='')

decimalToBinary(21)


def binaryToDecimal(n):         #btod
    x = int(n,2)
    return x

print(binaryToDecimal(10101))

10101
0xe1
0o14
10101

TypeError: int() can't convert non-string with explicit base

In [45]:
#************
# binary to binary of 32 bits
x=10101

def a32(n):
    n=str(n)
    m=len(n)
    while(m<32):
        i="0"
        n=i+n
        m=m+1
    print(n)
    
a32(x)

print('\n')
    
#Method 2                #Using z-fill string  method

print(str(x).zfill(32))

00000000000000000000000000010101


00000000000000000000000000010101

In [73]:
#************

#Adding 2 binary no.s

#method1:
a = 1101
b = 100
a= str(a)
b=str(b)


suma = bin(int(a, 2) + int(b, 2))
print(suma[2:])

10001

In [35]:
#************

# ones to zeros and zeros to ones
x=10101

def convert(n):
    for i in (str(n)):
        if i=="1":
            n=i.replace("1","0")
        elif i=="0":
            n=i.replace("0","1")
        print(n,end="")

convert(x)

01010

# Problems on Array (list is a type of array along with tuples,sets and dictionaries. It may be written as arr[] ={1,2,3}

In [ ]:
# Basic Problems if elements are integers
list1=[10,20,4,6,30,9,68,79,33,13]  #10 elements

#1  max and min no. on the list
print(max(list1))     #output 1
print(min(list1))     #output 2

#2 sum of numbers in the list            #NOTE: Can be done using sum() methods as well

Sum=0
for i in list1:
    Sum=Sum+i
    i=i+1
print(Sum)            #output 3     #method 1 for sum
total=sum(list1)
print(total)          #output 4     #method 2 for sum

#3 product of numbers in the list         #NOTE: Can be done using numpy or lamda or math.prod methods as well
product=1
for i in list1:
    product=product*i
    i=i+1
print(product)        #output 5


#4 length of the list                       
print(" the length of list using len() is: ",len(list1))                       #output 6

#5 to clear list
list1.clear()
print(list1)           #output 7

In [ ]:
#IMP LIST FUNCTIONS
list1=[9,78,6,8,43,55,1,27]  # initially 8 elements are there in this list; indexing from 0 to 7

#1 append(element_name): to add new element to the list
list1.append(100)
print(list1)          #output 1


#2 insert(index_no,element_name): to add new element to the list at a specific position(or index)
list1.insert(4,33)
print(list1)         #output 2

#3 pop(index no.): to remove last element of the list
list1.pop()
print(list1)          #output3 i.e, it removes 100


#4 remove(element_name): to remove any element of the list
list1.remove(55)
print(list1)          #output4

#5: copy(): prints the list once (also called as cloning)
print(list1.copy())         #output 5


#6 count(element_name): gives no of times the element is present in the list
print(list1.count(33))    #output 6
print(list1.count(34))      #output 7

#6 index(element_name): gives the index(or position) of the element in the list
print(list1.index(33))      #output 8
# list1.index(34)      This will cause error and doesn't run the code further
print(list1.index(27))    #output 9

#10 min and max
print(max(list1))       #output 10
print(min(list1))       #output 11


#11 to clear list
list1.clear()
print(list1)           #output 12

print("NOTE: THERE ARE 3 MORE LIST FUNCTIONS extend(new_element_Name),sort() and reverse() AS WELL")

In [56]:
# program to sort the words inn alphabetical order
listnames =["ken","john","happy","sana","sama"]
listnames.sort()
print(listnames)

['happy', 'john', 'ken', 'sama', 'sana']

In [ ]:
# list to no. and no. to list   # variations in strings and no.s
a = 234
b = "kjl"
c= [5,7,8,9]
d = ["a","b","c"]
x =[int(i) for i in str(a)]       # string to list
y =[i for i in b]                 # no. to list
print(x)
print(y)

sum="0"
for i in c:
    i= str(i)
    sum=sum+i
print(sum[1:])                    # list to no.

w= "".join(d)                     # list to string
print(w)

In [ ]:
#linear search
list1=[10,30,33,55,65,80,93]

def linearSearch(lista,key):
    n=len(lista)
    i=0
    for i in range(0,n):
        if(lista[i]==key):
            print(i)
        else:
            continue
            
            
linearSearch(list1,33)

In [ ]:
#binary search
list1=[10,30,33,55,65,80,93]    #NOTE: For binary search, the elements should be in ascending order

def binarySearch(lista,key):

    n=len(lista)
    s=0                             #starting point
    e=n                             #ending point
    while(s<=e):
        mid = int((s+e)/2)
        if(lista[mid]==key):
            print(mid)
            break
        elif(lista[mid]>key):
            e=mid-1
        else:
            s=mid+1
            
binarySearch(list1,55)

In [ ]:
# list in a list => 2D Array
list1=[1,2,3,4,[5,6,7],8,9,10]
print(list1[4][1])

In [ ]:
#program to remove repetitive numbers from the list
list1=[1,2,3,4,5,6,7,8,9,10,6,6,6,6]
list1.remove(8)
list1.remove(6)    # Removes only one 6, not all 6

print(list1)

In [ ]:

list1=[1, 2, 3, 4, 5,6,7,[],8, 9,[], 10, 6,[],6]

def remove(ele):
    for i in list1:
        if(i==ele):
            list1.remove(ele)
        
    return list1
print(remove(6))
print(remove([]))      # That means, the updated list is finally saved and next operation continues with the updated list

In [ ]:
#identify and remove repetitive elements
list1=[1, 2, 3, 4, 5,6,7,[],8, 9,[], 10, 6,[],6]
ars = [10, 20, 20, 10, 10, 30, 50, 10, 20]
def repet(ar):
    listb = []
    for i in ar:
        if(ar.count(i)==1):
            listb.append(i)
        else:
            if(i in listb):
                continue
            else:
                listb.append(i)
    return listb
    
print(repet(list1))
print(repet(ars))

In [ ]:
# value counts

lista = [1,1,1,2,4,5,2,5,4,1,5,6,7]

res = {key: lista.count(key) for key in lista}

res

In [ ]:
#5 To check whether a no. is present in the list or not
list1=[10,20,4,6]

def inlist(lista,n):
    if n in lista:
        return "yes" 
    else:
        return "no"
print(inlist(list1,6))            
print(inlist(list1,8))

In [ ]:
#program to interchange first and last elements in a list
list1=[1,2,3,4,5,6,7]

def interchange(lista):
    n=len(lista)
    temp=lista[0]
    lista[0]=lista[n-1]     #Here you can write lista[-1] instead of lista[n-1] as both are the same
    lista[n-1]=temp
    return lista

interchange(list1)

In [ ]:
#program to swap two elements in a list at positions p1 and p2 [i.e, p1 and p2 are index no. of the elements]
# Method 1
list1=[1,2,3,4,5,6,7]

def swap(lista,p1,p2):
    temp=lista[p1]
    lista[p1]=lista[p2]
    lista[p2]= temp
    return lista

print(swap(list1,2,5))
print("\n")
print("NOTE: Whenever swapping or interchanging problems arise, use temp=a; a=b; b=temp ")
print("\n")

In [ ]:
# Method 2
list1=[1,2,3,4,5,6,7]

def swap(lista,p1,p2): 
    lista[p1],lista[p2] = lista[p2],lista[p1]       # IMP Step
    return lista

print(swap(list1,2,5))

In [ ]:
# program to find 2nd largest no. in the list
#METHOD:1 sorting the list and printing the number in the index((n-2) or (-2))
list1=[10,23,43,64,15,46,27]

def max2(lista):
    n=len(lista)
    list1.sort()
    return lista[n-2]

max2(list1)

In [ ]:
#METHOD:2 removing the max. no in the list and finding max in the new list
list1=[10,23,43,64,15,46,27]

def maxy2(lista):
    a=max(lista)
    lista.remove(a)
    b=max(lista)
    return b

maxy2(list1)

In [ ]:
#program to find m largest numbers in a list
list1=[10,23,43,64,15,46,27]
def large(lista,m):
    n=len(lista)
    list1.sort()
    a=list1[(n-m):(n)]    # THIS IS IMPORTANT (TRICK IN NOTES, HOW THE OUTPUT WILL BE FOR A RANGE)
    return a
large(list1,3)

In [ ]:
# ARRAY LEFT ROTATION: program for array rotation contatining n elements by d elements Ex.: [1,2,3,4,5,6] -> [3,4,5,6,1,2] when rotated by 2 elements
list1=[1,2,3,4,5,6,7]

def rotation(d):
    list2=[]
    n=len(list1)
    for i in list1[d:n]:    
        list2.append(i)
    for j in list1[0:d]:
            list2.append(j)
    return list2
    

print(rotation(2))

print("\nNOTE: Always use append() instead of insert() in these kind of problems\n")

In [ ]:
# program to print even and  no.s in a list
list1=[10,23,43,64,15,46,27]

def evenodd(lista):
    even_list=[]
    odd_list =[]
    for i in list1:
        if(i%2==0):
            even_list.append(i)
        else:
            odd_list.append(i)
    print("even list is :",even_list)
    return ("odd list is: ",odd_list)

print(evenodd(list1))

print("\nNOTE: Always use append() instead of insert() in these kind of problems\n")

In [ ]:
# program to print positive and negative no.s in a list
list1=[-10,23,-43,64,-15,46,-27]

def posne(lista):             # can be done using lambda as well
    pos_list=[]
    ne_list =[]
    for i in list1:
        if(i>0):
            pos_list.append(i)
        if(i<0):
            ne_list.append(i)
    print("positive list is ",pos_list)
    return ("negetive list is",ne_list)

print(posne(list1))

print("\nNOTE: Always use append() instead of insert() in these kind of problems\n")

In [ ]:
#program to split the array and add the first part to the end

list1 = [12,10,5,6,52,36] 
k=2

def splad(lista,k):
    n = len(lista)
    x = lista[k:] + lista[:k]
    return x

splad (list1,k)

In [ ]:
# Sorting Reverse 

cars = ['Ford', 'BMW', 'Volvo', "Audi"]

cars.sort(reverse=True)
cars

In [ ]:
# Sorting Reverse 

def myFunc(e):
    return len(e)

cars = ['Ford', 'BMW', 'Volvo', "Audi"]

cars.sort(reverse=True|False, key=myFunc)
cars

In [ ]:
# A function to specify the sorting criteria(s)

def myFunc(e):
    return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW', "Audi"]

cars.sort(key=myFunc)

print(cars)

In [ ]:
v = [1,2,3,4]

In [ ]:
### program to check if the array is monotonic, i.e, monotonically increasing or decreasing order of elements

list1=[6,5,4,4]
list2=[5,15,20,10]
list3=[4,4,5,6]

def isMono(lista):
    n = len(lista)
    if(all(lista[i] <=lista[i+1] for i in range(0,n-1))):
        z = "Yes"
    elif(all(lista[i] >=lista[i+1] for i in range(0,n-1))):
        z = "Yes"
    else:
        z = "No"
    return z

print(isMono(list1))
print(isMono(list2))
print(isMono(list3))

In [ ]:
#program to print duplicates from a list  [as in, print a new list which contains repeating(occuring more than once) elements in the old list]

list1=[-1,-1,-1,8]
list2=[10,20,30,20,20,30,40,50,-20,60,60,-20,-20]

def dup(lista):
    new_list=[]
    for i in lista:
        if(lista.count(i)>=2 and i not in new_list):   #i not in new_list will print my recurring number only once
            new_list.append(i)
    return new_list

print(dup(list1))
print(dup(list2))

In [ ]:
# print maximum number till ith element
list1 = [1,0,5,4,6,8]

def maxZ (lista):
    listb=[]
    n =len(lista)
    i=1
    while(i<n+1):
        x =max(lista[0:i])
        listb.append(x)
        i=i+1
    return listb
maxZ(list1)

In [ ]:
# program to find cumulative sum of a list and put the ouputs in new list
#METHOD 1
list1=[1,2,4,1,3,4,6]
# req. output: cumulative no.s= [1,3,7,8,11,15,21]

def cum(lista):
    cum_list=[]
    j=0
    for i in lista:
        j=j+i
        cum_list.append(j)
    return cum_list
cum(list1)

In [ ]:
#METHOD 2
list1=[1,2,4,1,3,4,6]
# req. output: cumulative no.s= [1,3,7,8,11,15,21]

def cum(lista):
    i=1
    m=len(lista) 
    cum_list=[lista[0]]    # since 1st cumulative value is same as the first value
    while(i<m):
        j=cum_list[-1]+lista[i]  #here we are adding the latest element in cumulative list(i.e, -1 element) to the ith element
        cum_list.append(j)
        i=i+1
    return cum_list
cum(list1)

In [ ]:
#program to print sum of digits of every element in the list in new list [Ex.[21,67]->[2+1=3,6+7=13]->[3,13]]

list1=[12,67,98,34]
#req. output=[3,13,17,7]

def digsum(lista):
    diglist=[]
    for i in lista:
        sum=0
        for digit in str(i):
            sum=sum+int(digit)
        diglist.append(sum)
    return diglist
        

digsum(list1)
        

##IMPORTANT

In [ ]:
# program to break the list into chunks of size m
list1=[1,2,3,4,5,6,7,8,9,10]

def chunks(lista,m):
    n= len(lista)
    listb=[]
    i=0
    for i in range(0,n,m):
        chunk=lista[i:(i+m)]
        listb.append(chunk)
    return listb
chunks(list1,4)

In [ ]:
# print all subarrays
list1 = [1,2,3,4]

def subAr(lista):
    n = len(lista)
    for i in range (n):
        for j in range(i+1,n+1):
            print(lista[i:j])

subAr(list1)

In [ ]:
# print sums all subarrays
list1 = [1,2,3,4]

def subArSum(lista):
    n = len(lista)
    for i in range (n):
        for j in range(i+1,n+1):
            k=lista[i:j]
            print(sum(k))

subArSum(list1)

In [ ]:
#program to sort the values of 1st list using 2nd list
list1=["a","b","c","d","e","f","g","h","i"]
list2=[0,1,1,0,1,2,2,0,1]

def sortab(lista,listb):
    i=0
    j=0
    zip(lista,listb)
    listb.sort()

sortab(list1,list2)

def sortab(lista,listb):
    zipped_pairs=zip(lista,listb)
    z= (x for _, x in sorted(zipped_pairs))
    return z

sortab(list1,list2)

In [ ]:
# Sorting of arrays USING ALGORITHMS
#1. Selection sort : find the min element in array and swap it with 1st element of the array

list1 = [77,44,1,23,55,34,21,90]

def selSort(lista):
    n= len(lista)
    for i in range(0,n-1):
        for j in range(i+1,n):
            if(lista[j]<lista[i]):
                lista[i],lista[j]=lista[j],lista[i]     #swapping
                
    return lista

selSort(list1)

In [ ]:
#2. Bubble sort : repeatedly swap ith adjacent elements if they are in wrong order

list1 = [77,44,1,23,55,34,21,90]

def bubSort(lista):
    n= len(lista)
    counter=1
    while(counter<n):
        for i in range(0,n-counter):
            if(lista[i]>lista[i+1]):
                lista[i],lista[i+1] = lista[i+1],lista[i]
        counter= counter +1 
            
    return lista

bubSort(list1)

In [ ]:
#3. Insertion sort : Insert the element from unsorted array to it's correct position in sorted array, and we start from 2nd element

list1 = [77,44,1,23,55,34,21,90]

def insSort(lista):
    n= len(lista)
    for i in range (1,n):                   #since we are starting from 2nd elemment (i.e, index =1)
        current = lista[i]
        j= i-1
        while (lista[j]>current and j>=0):
            lista[j+1]=lista[j]
            j=j-1
        lista[j+1]=current
        
    return lista

insSort(list1)

## Strings

In [ ]:
# list to no. and no. to list   # variations in strings and no.s
a = 234
b = "kjl"
c= [5,7,8,9]
d = ["a","b","c"]
x =[int(i) for i in str(a)]       # string to list
y =[i for i in b]                 # no. to list
print(x)
print(y)

sum="0"
for i in c:
    i= str(i)
    sum=sum+i
print(sum[1:])                    # list to no.

w= "".join(d)                     # list to string
print(w)

In [ ]:
# Check for palindrome

def isPali(string):
    n=len(string)
    lista=[]
    for i in string:
        lista.append(i)
        
    for j in range (1,n):
        if(lista[j-1]==lista[-j]):
            print("is palindrome")
            break
        else:
            print("is not pali")
            break
            
            
isPali("madam")

In [ ]:
ad="happy"
lis=[]
for i in ad:
    lis.append(i)
print(lis[0])

In [ ]:
# Check if string is symmeticral(Ex.: khokho, yoyo) or palindrome or none

def stringType(string):
    n = len(string)
    lista=[]
    for i in string:
        lista.append(i)
        
    for j in range (1,n):
        if(n%2 ==0):
            for k in range (n//2,n-1):
                if(lista[j-1]==lista[-j] and lista[j-1]==lista[k]):
                    print("is both pali and sy")
                elif(lista[j-1]==lista[k]):
                    print("is symmetric alone")
            break
        elif(lista[j-1]==lista[-j]):
            print("is palindrome alone")
            break
        else:
            print("none")
            break
        
            
stringType("madam")
stringType("yoyo")
stringType("hello")
stringType("amaama")

In [ ]:
# word count in a string
def wordc(string):
    count = 1
    for char in string:
        if(char ==" "):
            count =count+1
    print(count)

wordc("I am happy")

In [ ]:
# words in a string

def wordstr(string):
    words = string.split(" ")
    print(words)
    
wordstr("I am happy")

In [ ]:
# revesing a single word string

def rev(string):
    n=len(string)
    lista=[]
    for char in string:
        lista.append(char)
    lista.reverse()
    a = "".join(lista)
    print(a)
    

rev("occasion")
rev("home")
rev("1234")

In [ ]:
#Method-2: 
# revesing a single word string
s = 'occasion'
s=s[::-1]
print(s)

In [ ]:
# reversing a multiple word string (Ex: I am happy -> happy am I)

def wordrev(string):
    words = string.split(" ")
    words.reverse()
    a = " ".join(words)
    print(str(a))

wordrev("I am happy")

In [ ]:
# code to remove ith character from a string
def remov(string,i):
    n = len(string)
    #for char in string:
    string = string.replace(string[i-1],"")
    print(string)
remov("hello",2)

In [ ]:
# Time Conversion from 12hr to 24hr format
def timeConversion(s):

        h1 = s[0]
        h2 = s[1]
        hh = str(h1+h2)
 
        for char in s:
            if(hh == "12"and char == "A"):
                x = "00"
            elif(hh == "12" and char == "P"):
                x = hh
            elif(char == "P"):
                x = str(int(hh)+12)
            elif (char == "A"):
                x =hh
        y = s.replace(s[:2],x)

        print(y[:8])
        
    
timeConversion("07:05:45PM")
timeConversion("12:00:00AM")
timeConversion("12:05:45PM")
timeConversion("07:05:45AM")
timeConversion("11:05:45PM")

In [ ]:

    fptr.write(result + '\n')

    fptr.close()

In [ ]:
a = 06

In [ ]:
# check if the sentence is panagram or not

sent = "We promptly judged antique ivory buckles for the prize"
sentr = "We promptly judged antique ivory buckles for the next prize"

def pangrams(s):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    for i in alphabet:
        if i not in s.lower():
            p = "not pangram"
            break

        else:
            p = "pangram"
            
    return p

print(pangrams(sent))
print(pangrams(sentr))

In [ ]:
#DICTIONARY    # MORE PROBLEMS ON DICTIONARIES ARE THERE BELOW

s = "i am happy, i am happy"

res = {key: s.count(key) for key in s}

res

In [ ]:
s = "i am happy, i am happy"

res = {key: s.count(key) for key in s.split(" ")}

res

In [ ]:
#SETS 

v = set("aeiou")
print(v)

for i in v:
    print(i*2, end = " ")

In [ ]:
#SETS ... highly useful for ELIMINATING DUPLICATES and/or GETTING THE UNIQUE VALUES

s = "geeks for geeks"

p = (set(s))
p

In [ ]:
#less and more frequent characters ... SEE THE CALLING OF DICTIONARIES

s = "i am happy, i am happy"

res = {key: s.count(key) for key in s}
print(res)
y = min(res.values())    #IMP
z = max(res.values())
print(z)

#less frequently occuring value
for key in res:
    x = res[key]
    if (x==y):
        print (key)
        
#More frequently occuring value
for key in res:
    x = res[key]
    if (x==z):
        print (key)

In [ ]:
# To remove character ... also can be done as a[:i], b[i+1:] => a+b


s = "Happy bday to me"

s = s.replace("p","",1)  # Removing a character #if 1 is not given, by default all p are removed
s

In [ ]:
#JOIN and SPLIT

s = "Geeks for Geeks"

s = "".join(s.split(" "))
s

In [ ]:
#TO GET PERMUTATIONS OF THE GIVEN STRING

from itertools import permutations

s = "ABC"

x = permutations(s)

count = 0

for i in x:
    count = count +1
    print("".join(i), end = " ")
    
print(count)

In [ ]:
#TO GET PERMUTATIONS OF THE GIVEN STRING AND ITS SUBSTRING ... like a,b,c,ab,bc,ca,abc 

from itertools import combinations

s = "ABC"

g = set(s)
l = len(g)
count = 0
for i in range(l+1):
    x = combinations(g,i)
    
    for j in x:
        count = count +1
        print("".join(j), end = " ")
    
print(count)


#NOTE: from itertools import combinations_with_replacement # like aa,bb,cc are also included

### Pattern problems

In [ ]:
# print a rectangle of lxb size
def rect(l,b):      # l= no. of rows   b= no. of cols
    for i in range(1,l+1):
        for j in range(1,b+1):
            print("*", end=" ")    # to print them horizontally, we use end =" "
        print(" ")                 # to go to next line


rect(5,3)

In [ ]:
# print hollow rectangle
def hrect(l,b):
    for i in range(1,l+1):
            for j in range(1,b+1):
                if(i==1 or i==l or j==1 or j==b):
                    print("*", end=" ")
                else:
                    print(" ", end=" ")
                    
            print(" ")
            
hrect(5,3)

In [ ]:
# print right angle triangle, inverted triangle, 180 degrees rotated triangle
def tri(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print("*", end=" ")
        print(" ")

def itri(n):
    for i in range(1,n+1):
        for j in range(i,n+1):
            print("*", end=" ")
        print(" ")

def rtri(n):
    for i in range(1,n+1):
        for j in range (1,n+1):
                if(j<= n-i):
                    print(" ",end = " ")
                else:
                    print("*", end = " ")
        print(" ")
                
        

def rrtri(n):
    for i in range (1,n+1):
        for j in range (1,n+1):
            if(i in range (2,n+1) and (j<=i-1)):
                print(" ", end = " ")
            else:
                print("*", end=" ")
           
        print(" ")
            

tri(5)
print("\n")
itri(5)
print("\n")
rtri(5)
print("\n")
rrtri(5)

In [ ]:
# print triangle

def tria(n):           # n= no. of rows
    for i in range(1,n+1):
        for j in range (1,(2*n)):
            if((j<=n-i or j>=n+i)):
                print(" ", end =" ")
            else:
                print("*",end= " ")
            
        print(" ")
tria(5)

In [ ]:
# print diamond

def tria(n):           
    for i in range(1,2*n):
        for j in range (1,(2*n)):
            if((j<=n-i or j>=n+i)):
                print(" ", end =" ")
            elif((i<=n-j or i>=n+j)):
                print(" ", end =" ")
            else:
                print("*",end= " ")
            
        print(" ")
tria(5)

In [ ]:
# hollow diamond

def tria(n):           
    for i in range(1,2*n):
        for j in range (1,(2*n)):
            if((j<=n-i or j>=n+i)):
                print(" ", end =" ")
            elif((i<=n-j or i>=n+j)):
                print(" ", end =" ")
            else:
                print("*",end= " ")
            
        print(" ")
tria(5)

In [ ]:
# hollow diamond inscribed in a rectangle

def tria(n):           
    for i in range(1,2*n):
        for j in range (1,(2*n)):
            if((j<=n-i or j>=n+i)):
                print(" ", end =" ")
            elif((i<=n-j or i>=n+j)):
                print(" ", end =" ")
            else:
                print("*",end= " ")
            
        print(" ")
tria(5)

In [ ]:
# print solid rhombus

In [ ]:
# print hollow rhombus

In [ ]:
# print solid butterfly

In [ ]:
#print hollow butterfly

In [ ]:
# number triangle -1
#method -1

def tri(n):
    for i in range(1,n+1):   
        for j in range(i):
            print(j+1,end=" ")
        print("")
tri(5)

In [ ]:
#method-2

def tri(n):
    for i in range(1,n+1):   
        for j in range(1,i+1):  #GET THIS BY TRAIL AND ERROR TILL YOU GET DESIRED OUTPUT
            print(j,end=" ")   #Since we want col no. in the place
        print("")          
tri(5)

In [ ]:
# Number Triangle -2
def tri(n):
    for i in range(1,n+1):   # Since range function takes values till last but one term
        for j in range(i):
            print(i,end=" ") # We want i to be printed side-by-side
        #print("y")          # The leftover places will be having "y", so we repalce it by " ", to give space.This will also ensure to move to next line 
        print("")
tri(5)

In [ ]:
# Inverted pyramid

def inpy(n):
    for i in range(1,n+1):
        for j in range(1,n-i+2):
            print(i,end=" ")        
        print("")
        
inpy(5)

In [ ]:
#Method 2
def inpyd(n):
    for i in range(1,n+1):
        for j in range(n,i-1,-1):  
            print(i,end=" ")        
        print("")
        
inpyd(5)

In [ ]:
# Inverted pyramid with decending no.s
def inpyd(n):
    for i in range(n,0,-1):
        for j in range(i):
            print(i,end=" ")        
        print("")
        
inpyd(5)

In [ ]:
#Program for reverse pyramid pattern of no.s
def rp(n):
    for i in range(1,n+1):
        for j in range(i,0,-1):
            print(j,end=" ")        
        print("")
        
rp(5)

In [ ]:
# Inverted half pyramid with decending no.s
def ihp(n):
    for i in range(n,0,-1):
        for j in range(1,i+1):
            print(j,end=" ")        
        print("")
        
ihp(5)

In [ ]:
# 0-1 pyramid

def btri(n):   # n= no. of rows
    
    for i in range(1,n+1):
        for j in range (1,i+1):
            if((i+j)%2 ==0):
                print("1",end =" ")
            else:
                print("0", end = " ")
        print(" ")

btri(5)

In [ ]:
#Palindrome pyramid
def tri(n):

        for i in range(1,n+1):   
            for j in range(1,i+1):  #GET THIS BY TRAIL AND ERROR TILL YOU GET DESIRED OUTPUT
                print(j,end=" ")   #Since we want col no. in the place
            for j in range(i-1,0,-1):  
                print(j,end=" ") 
            print(" ")
        
tri(5)

In [ ]:
# palindrome pyramid to centre   ####CHECK

def tria(n):        # n= no. of rows
    for i in range(1,n+1):
        for j in range (1,(2*n)):
            if((j<=n-i or j>=n+i)):
                print(" ", end =" ")
            elif(j==n):
                
                print(i, end=" ")
            else:
                k=i-1
                print(k,end=" ")
                k=k-1 
        print(" ")
tria(3)

In [ ]:
# floyd's triangle

def ftri(n): #n= no. of rows
    count =1
    for i in range(1,n+1):
        for j in range (1,i+1):
            print(count, end =" ")
            count =count+1
        print(" ")

ftri(5)

In [ ]:
# pascal's triangle

In [ ]:
#zig zag pattern

In [ ]:
# program to print the pattern "G" over n lines or rows
def gpatttern(n):
# code for "*"
    if(n%2 !=0):
        m=int((n/2)+1)
        if(i==1 or i==n):
            for j in range(2,(n-2)):
                print("*")
        for i in range(2,n):
            if(j==1):
                print("*\n")
        while(i==m):
            for j in range(n-4,n-2):
                print("*")
            while(i<=(n-1)):
                while(j==(n-2)):
                    print("*\n")
                i=i+1
gpattern(7)

### Matrices

In [ ]:
a = [[1,2,3],[4,5,6],[7,8,9]]

for ele in a:
    print(ele)

In [ ]:
# Adding matrices without numpy

a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[1,2,3],[4,5,6],[7,8,9]]
x = [[0,0,0],[0,0,0],[0,0,0]]

print(a+b)

print("\n")

for i in range(len(a)):
    for j in range(len(b)):
        x[i][j] = a[i][j] + b[i][j]          # Change + to  -,*,/  
        

print(x)  

print("\n")

for v in x:
    print(v)

In [ ]:
#Using numpy

import numpy as np


a = [[1,2,3],[4,5,6],[7,8,9]]
b = [[1,2,3],[4,5,6],[7,8,9]]

x = np.add(a,b)
y = np.subtract(a,b)

print(x)
print("\n")
print(y)

In [ ]:
# Transpose of a matrix

z = np.transpose(a)
print(z)

In [ ]:
# Getting 3nd column of the matrix 

p = [sub[2] for sub in a]  #3rd => index = 2 
p

# product of elements of the matrix

### Sorting

In [ ]:
# Selection sort

In [ ]:
def a32(z):
    z=str(z)
    m=len(z)
    while(m<32):
        i="0"
        z=i+z
        m=m+1
    return z
def convert(n):
    for i in (str(n)):
        if i=="1":
            n=i.replace("1","0")
        elif i=="0":
            n=i.replace("0","1")
        print(n,end="")
    
def btod(n):
    j=0
    lista=[]
    a =[int(i) for i in str(n)]
    m=len(a)
    while(j<m):
        x = a[j]*pow(2,(m-j-1))
        lista.append(x)
        j=j+1
    summa=sum(lista)
    return summa

def flippingBits(p):
    m = a32(p)
    x = convert(m)
    y = btod(x)
    print(y)

flippingBits(9)

### Dictionaries

In [ ]:
#DICTIONARY    # MORE PROBLEMS ON DICTIONARIES ARE THERE BELOW

s = "i am happy, i am happy"

res = {key: s.count(key) for key in s}

res

In [ ]:
#less and more frequent characters ... SEE THE CALLING OF DICTIONARIES

s = "i am happy, i am happy"

res = {key: s.count(key) for key in s}
print(res)
y = min(res.values())    #IMP
z = max(res.values())
print(z)

#less frequently occuring value
for key in res:
    x = res[key]
    if (x==y):
        print (key)
        
#More frequently occuring value
for key in res:
    x = res[key]
    if (x==z):
        print (key)

In [ ]:
#Get unique values of the dictionary  #NOTE: dict is a keyword (like list,set)

dicta = {"a": [5,6,7,8],
         "b": [10,11,7,5],
         "c": [6,12,10,8],
         "d": [1,2,5]}


x =set(dicta)
print(x)

print("\n")

y =dicta.values()
print(y)

print("\n")


w = []
for i in dicta.keys():
    w.append(dicta[i])
print(w)

print("\n")

z = []
for i in dicta.keys():
    z.extend(dicta[i])
    
z=list(set(z))
print(z)


#NOTE: difference between sort and sorted is  
#NOTE: difference between append and extend is

In [ ]:
#Sum of values of the dictionary


dicta = {"a": [5,6,7,8],
         "b": [10,11,7,5],
         "c": [6,12,10,8],
         "d": [1,2,5]}

w = []
for i in dicta.keys():
    w.extend(dicta[i])
    
print(sum(w))

In [ ]:
dicta = {"a": [5,6,7,8],
         "b": [10,11,7,5],
         "c": [6,12,10,8],
         "d": [1,2,5]}
del dicta["c"]          # OR dicta.pop("c")
dicta

In [ ]:
#Sorting based on age and name

from operator import itemgetter

lista = [{"name":"John", "age": 22},
         {"name":"Lohn", "age": 27},{"name":"Stephen", "age": 20},{"name":"Joss", "age": 20}]

print(sorted(lista,key = itemgetter("age","name")))   # key = lambda i:(i["age"],i["name"])

In [ ]:
#Merging 2 dictionaries

def merge(a,b):
    r = a | b
    return(r)

dicta = {"x" :12,"y": 14,"z": 11}
dictb = {"p" :10,"q": 19}

dictc = merge(dicta,dictb)
dictc

In [ ]:
# list values to dictionary

x = {'month' : [1,2,3],
    "name" : ["Jan","Feb","Mar"]}

p = dict(zip(x['month'],x['name']))
p

In [ ]:
# Calling the key values 

dicta = {"x" :12,"y": 14,"z": 11}

l = dicta["y"] 
print(l)

q = dicta.get("y")
print(q)

In [ ]:
# items()     ---> Returns a list containing a tuple for each key value pair

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

In [ ]:
# keys()   ---> Returns a list containing the dictionary's keys

x = car.keys()

print(x)

In [ ]:
# pop() ---> Removes the element with the specified key

car.pop("model")

print(car)

In [ ]:
# popitem()  --> Removes the last dict element
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

In [ ]:
# update() ---> to update the dictionary

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

In [ ]:
# values() ---> to print out v

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

In [ ]:
#sorting dictionary based on values

x = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
dict(sorted(x.items(), key=lambda item: item[1]))

In [ ]:
#IMMPPP
#Sorting descending based on values

import operator

d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_d = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))

sorted_d

## Tuples

In [ ]:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

## Sets

In [ ]:
#difference() -->  Returns a set containing the difference between two or more sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

In [ ]:
#The difference_update() method removes the items that exist in both sets.

#The difference_update() method is different from the difference() method, because the difference() method 
#returns a new set, without the unwanted items, and the difference_update() method removes the unwanted 
#items from the original set.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

In [ ]:
#Intersection

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

In [ ]:
#Intersection example-2 => AnBnC

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

In [ ]:
#intersection_update() --> Removes the items in this set that are not present in other, specified set(s)

#The intersection_update() method removes the items that is not present in both sets (or in all sets if 
#the comparison is done between more than two sets).

#The intersection_update() method is different from the intersection() method, because the 
#intersection() method returns a new set, without the unwanted items, and the intersection_update() 
#method removes the unwanted items from the original set.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

In [ ]:
#union()	Return a set containing the union of sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

In [ ]:
#Returns a set with the symmetric differences of two sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

In [ ]:
#symmetric_difference_update()	inserts the symmetric differences from this set and another

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# x+y  This is not possible, like adding 2 sets
x.update(y)
print(x)
print(y)

In [ ]:
#The remove() method removes the specified element from the set.

#This method is different from the discard() method, because the remove() method 
#will raise an error if the specified item does not exist, and the discard() method will not.

seta.discard(ele)

seta.pop()      #Remove a random item from the set; takes no arguments

seta.remove(ele)

isdisjoint()	Returns whether two sets have a intersection or not      =>True/False
issubset()	Returns whether another set contains this set or not         =>True/False
issuperset()	Returns whether this set contains another set or not     =>True/False
union()	Return a set containing the union of sets
update()	Update the set with another set, or any other iterable

**Additional problems**

In [ ]:
# convert this string to this pattern Hello --> o5l4l3e2H1
s = "Hello"
s =s[::-1]
n=len(s)
lista = []
for i in s:
    lista.append(i)

for j in range(2*n):
    if (j%2 !=0):
        if(j<n):
            p=int((j+1)/2)
            lista.insert(j, str(n-j+p))
        else:
            p= int((j+1)/2)
            lista.insert(j, str(p-j+n))
    a = "".join(lista)
print(a)